@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=BioRhyme:wght@700&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans Arabic', 'Montserrat';
}

*::-webkit-scrollbar {
  background: #111111;
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 2rem;
  border: 3px solid #111111;
}

*::-webkit-scrollbar-track {
  margin: 5px;
}
