.curtain-enter-active,
.curtain-leave-active {
  transition: clip-path 0.3s ease-in-out;
}

.curtain-enter-from,
.curtain-leave-to {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.curtain-enter-to,
.curtain-leave-from {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slideLeft-enter-active,
.slideLeft-leave-active {
  transition: clip-path 0.3s ease-in-out;
}

.slideLeft-enter-from,
.slideLeft-leave-to {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.slideLeft-enter-to,
.slideLeft-leave-from {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
